@import '../init';

$btn-cls: '#{$fe-prefix}-button';

.#{$btn-cls} {
    position: relative;
    cursor: pointer;
    height: 2.5em;
    line-height: 2.5em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: $radius;
    border-width: 1px;
    display: inline-flex;
    align-items: center;
    border-style: solid;
    &--dashed {
        border-style: dashed;
    }
    outline: 0;
    // 相同按钮间隔
    + & {
        margin-left: 5px;
    }
    transition: all;
    transition-timing-function: $easing;
    transition-duration: $speed;

    &:hover::before {
        opacity: 0.15;
    }
    &::before {
        position: absolute;
        inset: -1px;
        background-color: currentColor;
        opacity: 0;
        transition-property: background-color, opacity;
        transition-timing-function: $easing;
        transition-duration: $speed;
        pointer-events: none;
        content: '';
    }

    color: $black-bis;
    border-color: $grey-light;
    background-color: transparent;
    &:focus {
        border-color: $primary-color;
        color: $primary-color;
    }
    &:focus:not(:active) {
        box-shadow: 0 0 0 0.125em $primary-light-color;
    }

    // 默认颜色
    &--primary {
        border-color: $primary-color;
        color: $white;
        background-color: $primary-color;
        &:focus {
            border-color: $primary-color;
            color: $white;
        }
        &:focus:not(:active) {
            box-shadow: 0 0 0 0.125em $primary-light-color;
        }
        &.#{$btn-cls}--ghost {
            background-color: transparent;
            color: $primary-color;
            border-color: $primary-color;
        }
    }
    // 默认颜色END

    // 危险按钮
    &--danger {
        background-color: $danger-color;
        border-color: transparent;
        color: $white;
        &:focus {
            border-color: $danger-color;
            color: $white;
        }
        &:focus:not(:active) {
            box-shadow: 0 0 0 0.125em rgba($danger-color, 0.25);
        }
        &.#{$btn-cls}--ghost {
            background-color: transparent;
            color: $danger-color;
            border-color: $danger-color;
        }
    }
    // 危险按钮END
    // 警告按钮
    &--warning {
        background-color: $warning-color;
        color: $white;
        border-color: transparent;
        &:focus {
            border-color: $warning-color;
            color: $white;
        }
        &:focus:not(:active) {
            box-shadow: 0 0 0 0.125em rgba($warning-color, 0.25);
        }
        &.#{$btn-cls}--ghost {
            background-color: transparent;
            color: $warning-color;
            border-color: $warning-color;
        }
    }
    // 警告按钮END

    &--disabled[disabled] {
        cursor: not-allowed;
        color: $grey-light;
        border-color: $grey-lighter;
        background: $grey-lightest;
        text-shadow: none;
        box-shadow: none;
        &:hover::before {
            opacity: 0;
        }
    }

    &--loading {
        &:focus:not(:active) {
            box-shadow: none;
        }
        &::before {
            background-color: #fff;
            opacity: 0.35;
            cursor: default;
        }
        &:hover::before {
            opacity: 0.25;
        }
    }
}
