@import '../init';

.fe-button {
    position: relative;
    cursor: pointer;
    height: 2.5em;
    line-height: 1.5;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: $radius;
    background-color: $white;
    border-color: $grey-light;
    border-width: 1px;
    color: $black-bis;
    display: inline-flex;
    align-items: center;
    border-style: solid;

    &:hover::before {
        opacity: 0.15;
    }
    &::before {
        position: absolute;
        inset: 0rem;
        background-color: currentColor;
        opacity: 0;
        transition-property: background-color, opacity;
        transition-timing-function: $easing;
        transition-duration: $speed;
        content: '';
    }

    &:focus {
        border-color: $primary-color;
        color: $black-bis;
    }
    &:focus:not(:active) {
        box-shadow: 0 0 0 0.125em rgba($primary-color, 0.25);
    }

    &--danger {
        background-color: $danger-color;
        border-color: transparent;
        color: $white;
        &:focus {
            border-color: $danger-color;
            color: $white;
        }
        &:focus:not(:active) { 
            box-shadow: 0 0 0 0.125em rgba($danger-color,.25);
        }
    }
    &--warning {
        background-color: $warning-color;
        color: $black-bis;
        border-color: transparent;
        &:focus {
            border-color: $warning-color;
            color: $black-bis;
        }
        &:focus:not(:active) { 
            box-shadow: 0 0 0 0.125em rgba($warning-color,.25);
        }
    }
}
