$primary-color: #32b0f877;

.ps-tree.component{
    height: 100%;
    position: relative;
}
.ps-tree-node.component {
    position: relative;
    &.draging {
        position: relative;
        opacity: .6;
        z-index: 10;
    }

    .ps-tree-node-wrapper {
        position: relative;
    }
}

.ps-tree-drag-up {
    background-color: $primary-color !important;
    position: absolute;
    top: -1px;
    left: 5px;
    right: 8px;
    height: 2px;
    pointer-events: none;
    z-index: 9;

    &::before {
        content: '';
        width: 6px;
        height: 6px;
        background-color: $primary-color;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -3px;
        margin-left: -3px;
    }
}

.ps-tree-drag-down {
    background-color: $primary-color !important;
    position: absolute;
    bottom: -1px;
    left: 5px;
    right: 8px;
    height: 2px;
    pointer-events: none;
    z-index: 9;

    &::before {
        content: '';
        width: 6px;
        height: 6px;
        background-color: $primary-color;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -3px;
        margin-left: -3px;
    }
}

.ps-tree-drag-in {
    background-color: $primary-color !important;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    pointer-events: none;
    z-index: 9;
}
